/* ESTILO.CSS*/

.jumbotron {
    background-image: url(../img/Desert.jpg);
    background-size: 100%;
    background-position: center;
}

.jumbotron h1{
    color: #c3f4f4;
}

.jumbotron p{
    color: azure;
    font-size: 20px;
    font-weight: 200;
}

.trans{
  width: 400px;
  display: flex;
  justify-content: center;
}

.card-body{
    background-image: url("../img/users.jpg");
    background-size: 110%;
    background-position: center;
}

.body{
    background-color: rgb(175, 60, 60);
}

.form-group{
    color: rgb(56, 117, 6);
}