body{
    background-image: url(/img/new.gif);

	background-size: cover; 
	padding: 0;
}
.body{
    background-image: url(/img/new.gif);

	background-size: cover; 
	padding: 0;
}
#body{
    background-image: url(/img/new.gif);

	background-size: cover; 
	padding: 0;
}